# Created by venv; see https://docs.python.org/3/library/venv.html
*# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Logs
app.log

# Runtime data
data/expenses.json
data/transactions.json

